<% include partials/header %>

<div class="jumbotron">
    <h1 class="display-4">Marketplace Fullstack Site</h1>
    <p class="lead">Hello and welcome to my simple fullstack app! I created this app to populate my portfolio piece. I left out using the front-end framework such as Vue and React for this project as a learning process, and I am planning to use them in my next project.</p>
    <p class="lead">Here you can view a post, edit and comment on it if you are logged in. You can also register as a new user. Database will reset upon restarting the server.</p>
    <hr class="my-4">
    <p>This project is created with :</p>
    <ul class="lead">
        <li><span class="badge badge-pill badge-warning">Stack</span> MEN Stack (Mongo Express Node)</li>
        <li><span class="badge badge-pill badge-info">Authentication</span> Passport.js</li>
        <li><span class="badge badge-pill badge-primary">Front End</span> Bootstrap 4.2</li>
        <li><span class="badge badge-pill badge-secondary">Back End</span> Mongoose.js</li>
        </ul>
    <a class="btn btn-primary btn-lg" href="/posts" role="button">View Posts</a>
  </div>

<% include partials/footer %>
