<% include partials/header %>

<h1>Search Result</h1>

<table>
    <tr>
            <% for (var key in data[0]){ %>
                <th><%= key %></th>
            <% } %>
    </tr>
    
    <% data.forEach(x => {%>
        <tr>
            <% Object.values(x).forEach(y => { %>
                <td><%= y %></td>
            <% }) %>
        </tr>
    <% }) %>

</table>

<a href="/search"><button> Search Movie</button></a>


    

<% include partials/footer %>